body {
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.header h1 {
  position: relative;
  color: black;
  font-size: 30px;
  padding-left: 5px;
}

.nav-bar {
  position: absolute;
  float: right;
  right: 13px;
  font-size: 25px;
}

.headline {
  background-image: url("./Images/header-illsutration-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
}

.headline .section-heading {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 10px;
  padding-right: 10px;
}

.section-heading h1 {
  font-size: 40px;
  font-weight: bold;
  color: #172b4d;
}

.section-heading h2 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(127, 235, 127);
}

.headline-detail {
  margin-bottom: 40px;
  text-align: center;
}

.headline-detail p {
  padding-left: 10px;
  padding-right: 10px;
  color: #172b4d;
  font-size: 20px;
  padding-bottom: 4rem;
}

.icon-link {
  display: flex;
  justify-content: center;
}

.icon-link ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.icon-link ul li {
  padding: 13px;
  font-size: 30px;
}

.fa-angellist,
.fa-twitter,
.fa-github,
.fa-linkedin {
  color: #172b4d;
}

.Work {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 10px;
  background-color: whitesmoke;
}

.Work h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #172b4d;
  padding-left: 20px;
  padding-top: 14px;
  padding-right: 20px;
  margin-bottom: 3rem;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.flex-box {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  background-color: white;
  border: 1px solid #cdd2e0;
  border-radius: 5%;
  margin: 5px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .flex-box {
    flex-direction: column;
  }
}

.flex-box img {
  width: 100%;
  height: 50%;
}

.flex-box h1 {
  font-size: 24px;
  text-align: center;
}

.list-box {
  padding-bottom: 8px;
}

.list-box ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.list-box ul li {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
  margin: 4px;
  margin-right: 8px;
  font-weight: 600;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
}

.See-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.see-project {
  margin-top: 30px;
  display: flex;
  padding-left: 12px;
  padding-top: 10px;
  align-self: center;
  background: #36b37f;
  border-radius: 4px;
  width: 130px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.see-Resume {
  margin-top: 30px;
  display: flex;
  padding-left: 15px;
  padding-top: 10px;
  align-self: center;
  background: #36b37f;
  border-radius: 4px;
  width: 180px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.see-project:hover,
.see-Resume:hover {
  font-weight: bold;
  background: #21df8f;
  border: 3px solid grey;
}

.aboutMe {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMe h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  margin-top: 20px;
  margin-bottom: 15px;
}

.aboutMe p {
  text-align: center;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.languages {
  background-color: whitesmoke;
  margin-bottom: 200px;
}

.languageList {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.languageDetail {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin: 5px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .languageDetail {
    flex-direction: column;
  }
}

.imgDiv {
  text-align: center;
  padding: 20px;
  margin: 15px;
}

.languageDetail img {
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
}

.languageDetail h1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  padding: 15px;
  margin-bottom: 10px;
}

.list-language {
  margin-right: 20px;
}

.list-language ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  margin-bottom: 50px;
}

.list-language ul li {
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  font-size: 14px;
  color: #36b37e;
  letter-spacing: 0.03em;
  font-weight: 600;
  margin: 5px;
}
